@page
@model DrPet.Web.Pages.DoctorAdmin.Doctor.IndexModel

<h1>Orvos adatlap</h1>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            <b>Fotó</b>
        </dd>
        <dd class="col-sm-10">
            <img style="max-height: 300px;" src="@($"/{Model.Doctor.PhotoPath}")" alt="@Model.Doctor.Name">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PublicDescription) 
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Doctor.PublicDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.Id">Szerkesztés</a>
</div>
