@page
@model DrPet.Web.Pages.Admin.Owners.DetailsModel

<h1>Gazda adatlap</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Birthdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Birthdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Owner.Id">Szerkesztés</a> |
    <a asp-page="./Index">Vissza a gazdák listájához</a>
</div>