@page
@model DrPet.Web.Pages.Admin.Doctors.DetailsModel

<h1>Orvos adatlap</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.PublicDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.PublicDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.Id">Szerkesztés</a> |
    <a asp-page="./Index">Vissza az orvoslistára</a>
</div>
