@page
@model DrPet.Web.Pages.ConsultingsModel

<h2>Rendelési időpontok</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Rendelés kezdete</th>
            <th scope="col">Rendelés vége</th>
            <th scope="col">Orvos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consultings)
        {
            <tr>
                <td>@item.StartOfConsulting</td>
                <td>@item.EndOfConsulting</td>
                <td>@item.WorkerName</td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item mr-2"><a class="page-link" asp-route-date="@(Model.ActualMonth.AddMonths(-1))">Előző hónap</a></li>
        <li class="page-item"><a class="page-link" asp-route-date="@(Model.ActualMonth.AddMonths(1))">Következő hónap</a></li>
    </ul>
</nav>