@page
@model DrPet.Web.Pages.ConsultingsModel
@{
    DateTime startingDate = DateTime.Now;
    int counter = 0;
}
<h2>Rendelési időpontok</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Rendelés kezdete</th>
            <th scope="col">Rendelés vége</th>
            <th scope="col">Orvos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Consultings)
        {
            if (counter == 0)
            {
                startingDate = item.StartOfConsulting;
            }
            <tr>
                <td>@item.StartOfConsulting</td>
                <td>@item.EndOfConsulting</td>
                <td>@item.WorkerName</td>
            </tr>
            counter++;
        }
    </tbody>
</table>

@{
    // ideiglenes megoldás, ha üres hónapot talál, akkor visszaugrik az aktuálisra
    string previousMonth = DateTime.Now.ToString("yyyy-MM-dd");
    string nextMounth = DateTime.Now.ToString("yyyy-MM-dd");
    if (Model.Consultings.Count() > 0)
    {
        previousMonth = startingDate.AddMonths(-1).ToString("yyyy-MM-dd");
        nextMounth = startingDate.AddMonths(1).ToString("yyyy-MM-dd");
    }
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item mr-2"><a class="page-link" asp-route-date="@previousMonth">Előző hónap</a></li>
        <li class="page-item"><a class="page-link" asp-route-date="@nextMounth">Következő hónap</a></li>
    </ul>
</nav>